<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
  <title>Formulario de Nombres</title>
</head>
<body id="dos">
<form id="formulario2" method="POST" action="{{ url_for('form2') }}">
        <h2 for="dato2">Ingresa 3 nombres</h2><br>
        <section id="respuestas2">
        <input class="respuestas2" placeholder= 'Ingerese primer Nombre' type="text" name="dato4" id="dato4" required>
        <input class="respuestas2" placeholder= 'Ingerese segundo Nombre' type="text" name="dato5" id="dato5" required>
        <input class="respuestas2" placeholder= 'Ingerese tercer Nombre' type="text" name="dato6" id="dato6" required>
      </section>
        <button id="botonf2" type="submit">Enviar</button>
</form>

    {% if resultado %}
        <p>{{ resultado }}</p>
    {% endif %}
    <a href="{{ url_for('main') }}"><button id="exit2">Volver al menu principal</button></a>
</body>
</html>