*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
.title1{
   font-family: 'DancingScript';
}

.botones{
   width: 400px;
   position: relative;
   top: 250px;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 20px;
   font-family: 'calibri';
   color:black;
   box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);;
}  


#formu1{
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
   font-size: 16px;
   border-radius: 10px;
}
#formu2{ 
   position: relative;
   left: 40px;
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
   font-size: 16px;
   border-radius: 10px;
}


/*formulario 1*/


#formulario1{
   width: 400px;
   background-color: white;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color:black;
   box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);;
}


.respuestas1{
   width: 100%;
   background:white ;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   font-family: 'calibri';
   font-size: 18px;
   border: 2px solid blue;
}

button , #botonf1{
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
   border-radius: 10px;
}

#exit , #exit2{
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
   position: relative;
   left: 900px;
   top: -101px;
}

#respondido1{
   background-color: white;
   box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);;
   width: 400px;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   font-family: 'calibri';
   position: relative;
   left: 0px;
   top: -400;
}




/*formulario 2*/

#formulario2{
   width: 400px;
   background-color: white;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color:black;
   box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);;
}


.respuestas2{
   width: 100%;
   background:white ;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   font-family: 'calibri';
   font-size: 18px;
   border: 2px solid blue;
}

button , #botonf2{
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
   border-radius: 10px;
}

#respondido2{
   background-color: white;
   box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);;
   width: 400px;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   font-family: 'calibri';
   position: relative;
   left: 0px;
   top: -400;
}
