*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body{
   background-image: url('unidad3/multimedia/4k-minimalist-misty-mountain-pumpb5rzqjmu3rp5.jpg');
}

.title1{
   font-family: 'DancingScript';
}

.botones{
   width: 400px;
   position: relative;
   top: 250px;
   background-color: black;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color:white
}


#formu1{
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
   font-size: 16px;
}
#formu2{ 
   position: relative;
   left: 40px;
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
   font-size: 16px;
}



/*formulario 1*/

body , #uno{
   background: linear-gradient(blue,green);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

#formulario1{
   width: 400px;
   background-color: black;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color:white
}

.respuestas1{
   width: 100%;
   background:white ;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   font-family: 'calibri';
   font-size: 18px;
   border: 2px solid blue;
}

button , #botonf1{
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
}

#exit , #exit2{
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
   position: relative;
   left: 900px;
   top: -101px;
}


/*formulario 2*/

body , #dos{
   background: linear-gradient(cyan,green);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

#formulario2{
   width: 400px;
   background-color: black;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color:white
}

button , #botonf2{
   background: blue;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px;
}


.respuestas2{
   width: 100%;
   background:white ;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   font-family: 'calibri';
   font-size: 18px;
   border: 2px solid blue;
}